*{
font-family: Helvetica;
}

body {
background-color: #EAEAEA;
}

header img {
width: 100%;
}

menu, footer {
background-color: #62585B;
color: white;
padding: 20px;
text-align: center;
}

menu a {
font-weight: bold;
background-color: #EAEAEA;
color: #625858;
padding: 10px;
margin: 50px;
border-radius: 20px;
text-decoration: none;
}

menu a:hover {
background-color: #625B5B;
color: #EAEAEA;
border: 1px solid #EAEAEA;
}

ul {
margin-left: 40px;
list-style-type: circle;
}

table {
border: 1px dashed #625B5B;
width: 60%;
margin-left: 40px;
text-align: center;
}

.kontrolki {
margin: 5px;
}
